<section class="services-prices">
	<div class="container">
		<h1 class="services-prices__title">Услуги и цены</h1>
		<div class="services-prices__wrapper container-tab">
			<div class="services-prices__sidebar">
				<ul data-spollers data-one-spoller class="list services-prices__sidebar-list">
					<li class="services-prices__sidebar-item">
						<button data-tab="consultation" class="btn btn-tab services-prices__sidebar-item-btn active">
							Консультация врача и косметолога
						</button>
					</li>
					<li class="services-prices__sidebar-item">
						<button data-spoller data-tab="hardware-cosmetology" class="btn btn-tab services-prices__sidebar-item-btn">
							Аппаратная косметология
						</button>
						<ul class="list services-prices__sidebar-sublist">
							<li data-tab="lazer" class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Лазерное омоложение</a>
							</li>
							<li data-tab="lazer-2" class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Неодимовое лазерное омоложение Cynosure Elite+</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">СМУС омоложение</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Лазерная полировка и пилинг</a>
							</li>
						</ul>
					</li>
					<li class="services-prices__sidebar-item">
						<button data-spoller data-tab="injection-cosmetology" class="btn btn-tab services-prices__sidebar-item-btn">
							Инъекционная косметология
						</button>
						<ul class="list services-prices__sidebar-sublist">
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Биоревитализация</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Мезотерапия</a>
							</li>
							<li data-tab="conture-plastic" class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Контурная пластика</a>
							</li>
						</ul>
					</li>
					<li class="services-prices__sidebar-item">
						<button data-spoller data-tab="lazer-epilation" class="btn btn-tab services-prices__sidebar-item-btn">
							Лазерная эпиляция
						</button>
						<ul class="list services-prices__sidebar-sublist">
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
						</ul>
					</li>
					<li class="services-prices__sidebar-item">
						<button data-spoller data-tab="delete" class="btn btn-tab services-prices__sidebar-item-btn">
							Удаление сосудов и новообразований
						</button>
						<ul class="list services-prices__sidebar-sublist">
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
						</ul>
					</li>
					<li class="services-prices__sidebar-item">
						<button data-spoller data-tab="estetic-cosmetology" class="btn btn-tab services-prices__sidebar-item-btn">
							ЭСТЕТИЧЕСКАЯ КОСМЕТОЛОГИЯ (уходы) 
						</button>
						<ul class="list services-prices__sidebar-sublist">
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
							<li class="services-prices__sidebar-subitem">
								<a href="#" class="services-prices__sidebar-anchor">Прайс</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div data-tab="consultation" class="tab services-prices__tab active">
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Консультация врача и косметолога</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">
									Консультация врача-косметолога (составление плана схемы процедур) — 60 минут
								</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">
									Консультация врача-косметолога (составление плана схемы процедур) — 60 минут
								</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">
									Дерматологическая консультация — 60 минут
								</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Осмотр после процедуры — 30 минут</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">
									Консультация главного врача-косметолога — 30 минут
								</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">
									Первичный прием дерматолога-онколога с назначением лечения+дерматоскопия (до 3-х
									образований) — 30 минут
								</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">
									Вторичный прием дерматолога-онколога в течение 30 дней+краткая консультация — 30
									минут
								</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">
									Первичная консультация дерматовенеролога — 30 минут
								</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
			</div>
			<div data-tab="hardware-cosmetology" class="tab services-prices__tab">
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Лазерное омоложение</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Неодимовое лазерное омоложение Cynosure Elite+</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Неодимовое лазерное омоложение Cynosure Elite+</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Неодимовое лазерное омоложение Cynosure Elite+</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
			</div>
			<div data-tab="injection-cosmetology" class="tab services-prices__tab">
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">ИНЪЕКЦИОННАЯ КОСМЕТОЛОГИЯ</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Неодимовое лазерное омоложение Cynosure Elite+</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Неодимовое лазерное омоложение Cynosure Elite+</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Неодимовое лазерное омоложение Cynosure Elite+</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
			</div>
			<div data-tab="lazer-epilation" class="tab services-prices__tab">
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Лазерная эпиляция</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Неодимовое лазерное омоложение Cynosure Elite+</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Неодимовое лазерное омоложение Cynosure Elite+</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Неодимовое лазерное омоложение Cynosure Elite+</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
			</div>
			<div data-tab="delete" class="tab services-prices__tab">
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Удаление сосудов и новообразований</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Неодимовое лазерное омоложение Cynosure Elite+</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Неодимовое лазерное омоложение Cynosure Elite+</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Неодимовое лазерное омоложение Cynosure Elite+</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
			</div>
			<div data-tab="estetic-cosmetology" class="tab services-prices__tab">
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">ЭСТЕТИЧЕСКАЯ КОСМЕТОЛОГИЯ (уходы) </h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Неодимовое лазерное омоложение Cynosure Elite+</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Неодимовое лазерное омоложение Cynosure Elite+</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
				<div class="services-prices__tab-item">
					<h3 class="services-prices__tab-title">Неодимовое лазерное омоложение Cynosure Elite+</h3>
					<a href="#" class="services-prices__tab-more">
						Подробнее
						<svg class="services-prices__tab-more-icon">
							<use xlink:href="img/icons/icons.svg#svg-arrow-line"></use>
						</svg>
					</a>
					<ul class="list services-prices__tab-list">
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
								<span class="services-prices__tab-list-point"> Пациенты выбирают </span>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
						<li class="services-prices__tab-list-item">
							<div class="services-prices__tab-list-info">
								<p class="services-prices__tab-list-title">Название процедуры</p>
							</div>
							<span class="services-prices__tab-list-price">2500 ₽</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>